body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}
.wrapper {
    h1 {
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 10rem
    }
    img {
        display: block;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto 
    }
    p {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 10rem;
    }
}
